:host {
    background-color: #30323f;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    padding: 10px 0;
    color: white;
}

.title {
    font-weight: bold;
}

.header-right {
    display: flex;
    font-size: 0.875em;
}

.header-right > div {
    padding: 0 10px;
    font-weight: 500;
}

.material-icons {
    font-size: 20px;
    position: relative;
    padding-right: 5px;
    top: 5px;
}

button {
    background-color: #30323f;
    border: none;
    color: white;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .header {flex-direction: column;}
  }